.userPhoto {
     width: 100px;
    height: 100px;
    border-radius: 50%;
}

.selectedPage {
    display: inline-block;
    font-weight: bold;
}

.items {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.users {
    text-align: left;
    margin-left: 20px;
}
