.userPhoto {
     width: 100px;
    height: 100px;
}

.selectedPage {
    display: inline-block;
    font-weight: bold;
}

.items {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.users {
    text-align: center;
}
